<h3>Name: @ViewBag.User.Name</h3>
<h3>Alias: @ViewBag.User.UserName</h3>
<h3>Email: @ViewBag.User.Email</h3>
<hr>
<h3>Total Number of Ideas: @ViewBag.User.Ideas.Count</h3>
<h3>Total Number of Likes: @ViewBag.User.Likes.Count</h3>