@model bright_ideas.Models.Idea

<h3>Welcome, @ViewBag.User.UserName</h3>

<form asp-controller="Idea" asp-action="AddIdea" method="post">
    <input class="ideaInput" asp-for="IdeaText" placeholder="Post something witty here..."/>
    <input type="submit" value="Idea!">
</form>    

@if(@ViewBag.Error != null)
    {
        <span>@ViewBag.Error</span>        
    }
<table>
    @foreach(Idea idea in @ViewBag.AllIdeas)
    {
        <tr>
            <td class="nameidea">
                <h4><a href="/users/@idea.User.Id">@idea.User.UserName</a> says : </h4>
            </td>
            <td>
                <div class="ideaText">
                    <h5>@idea.IdeaText</h5>
                </div>
                @if(@ViewBag.User.Id == @idea.UserId)
                {
                    <form class="delete" action="/delete/@idea.IdeaId" method="post">
                        <button type="submit">X</button>
                    </form>
                }
                <h5>
                    <a class="like" href="/like/@idea.IdeaId">Like</a>
                    @if(@idea.Likes.Count == 1)
                    {
                        <span><a href="/bright_ideas/@idea.IdeaId">@idea.Likes.Count person</a> likes this.</span>
                    }
                    else
                    {
                        <span><a href="/bright_ideas/@idea.IdeaId">@idea.Likes.Count people</a> like this.</span>
                    }
                </h5>
            </td>    
        </tr>
    }  
</table>


