    <div class="space"></div>
    
    <div>
        <h4><a href="/users/@ViewBag.Idea.UserId">@ViewBag.Idea.User.UserName</a> says : </h4>
    </div>
    <div>
        <div class="ideaText">
            <h5>@ViewBag.Idea.IdeaText</h5>
        </div>
    </div>
    <div class="listlike">

        <h4>People who liked this post : </h4>
        <table id="table" class="table-striped">
            <tr>
                <th>Alias</th>
                <th>Name</th>
            </tr>
        
        @foreach(var like in @ViewBag.Likes)
        {
            <tr>
                <td><a href="/users/@like.User.Id">@like.User.UserName</a></td>
                <td>@like.User.Name</td>
            </tr>
        }
        </table>        
    </div>
